<!doctype html>
<head>
<title>{% block title %}{% endblock %} - MSF_API_FLASK</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav>
  <h1><a href="{{ url_for('index') }}">MSF_API_FLASK</a></h1>
  <ul>
    {% if current_user.is_authenticated %}
      <li><span>{{ current_user.name }}</span>
      <li><a href="{{ url_for('logout') }}">Log Out</a>
      <li><div class="icon"><img src="{{ current_user.icon }}" alt="Icon" class="portrait">
        <img src="{{ current_user.frame }}" alt="Frame" class="frame"></div></li>
    {% else %}
      <li><a href="{{ url_for('login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

<div id="logger" style="font-family: monospace; white-space: nowrap">
</div>
<script>
    const log_url = {{ url_for("log")|tojson }}
    const log_div = document.getElementById("logger")
    var parser = new DOMParser();
    var run = true        
    function fetch_log(){
        fetch(log_url, {keepalive: true})
            .then(response =>  (response.json()))
            .then(text => log_div.innerHTML += parser.parseFromString(text, 'text/html').body.innerHTML.replace(new RegExp('\r?\n','g'), '<br />'))
            .then( function(){if (run == true) {setTimeout(fetch_log, 1000)} })
    }
    fetch_log()
</script>
  {% block content %}{% endblock %}
</section>
<script>
  // https://css-tricks.com/send-an-http-request-on-page-exit/
  /*var links = document.getElementsByTagName('a');
  for (var i = 0; i < links.length; i++){
    links[i].addEventListener('click', (e) => {
      e.preventDefault();
      fetch(e.target.href)
        .then(res => res.text())
        .then(text => {
          window.history.pushState({},"",e.target.href);
          document.getElementsByTagName("html")[0].innerHTML = text;
        })
      })
    }*/
  /*window.addEventListener( "pageshow", function ( event ) {
      var historyTraversal = event.persisted || 
                             ( typeof window.performance != "undefined" && 
                                  window.performance.navigation.type === 2 );
      if ( historyTraversal ) {
        // Handle page restore.
        window.location.reload();
      }
    });*/
  
  </script>
</body>
</html>
