{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if current_user.is_authenticated %}
    <script src="https://cdn.jsdelivr.net/combine/npm/dayjs@1/plugin/relativeTime.min.js,npm/dayjs@1"></script>
    <script>
      dayjs.extend(window.dayjs_plugin_relativeTime);
      //document.write(dayjs.unix({{ gold_text["updated_timestamp"] }}).fromNow());
      window.addEventListener("focus", function(event) 
      { 
        document.getElementById("updated").innerHTML = dayjs.unix({{ gold_text["updated_timestamp"] }}).fromNow();
      });
    </script>
    <p>Gold: {{ gold_text["current"] }}/{{ gold_text["goal"] }}<br>
      Left: {{ gold_text["left"] }}<br>
      Upadated <span id="updated">{{ gold_text["updated"] }}</span> <a class="button" href="{{ url_for('gold') }}">Update</a></p>
    <p><a href="{{ url_for('settings') }}">Settings</a></p>
    <ul>
      {% for url, endpoint in links %}
      <li><a href="{{ url }}">{{ endpoint }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
{% endblock %}