{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if current_user.is_authenticated %}
    <script src="https://cdn.jsdelivr.net/combine/npm/dayjs@1/plugin/relativeTime.min.js,npm/dayjs@1"></script>
    <script>
      dayjs.extend(window.dayjs_plugin_relativeTime);
      //document.write(dayjs.unix({{ gold_text["updated_timestamp"] }}).fromNow());
      window.addEventListener("focus", function(event) 
      { 
        document.getElementById("gold_updated").innerHTML = dayjs.unix({{ gold_text["updated_timestamp"] }}).fromNow();
        {% if updated["inventory"] %} document.getElementById("inventory_updated").innerHTML = dayjs.unix({{ updated["inventory"] }}).fromNow(); {% endif %}
        {% if updated["roster"] %} document.getElementById("roster_updated").innerHTML = dayjs.unix({{ updated["roster"] }}).fromNow(); {% endif %}
      });
    </script>
    <p>Gold: {{ gold_text["current"] }}/{{ gold_text["goal"] }}<br>
      Left: {{ gold_text["left"] }}<br>
      Upadated <span id="gold_updated">{{ gold_text["updated"] }}</span> <a class="button" href="{{ url_for('update_gold_route') }}">Update</a></p>
    <p>Inventory updated <span id="inventory_updated">{{"{}".format(naturaltime(time() - updated["inventory"])) if updated["inventory"] else "Never"}}</span> <a class="button" href="{{ url_for('update_inventory_route') }}">Update</a></p>
    <p>Roster updated <span id="roster_updated">{{ "{}".format(naturaltime(time() - updated["roster"])) if updated["roster"] else "Never"}}</span> <a class="button" href="{{ url_for('update_roster_route') }}">Update</a></p>
    <p><a href="{{ url_for('settings') }}">Settings</a></p>
    <ul>
      {% for url, endpoint in links %}
      <li><a href="{{ url }}">{{ endpoint }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
{% endblock %}